<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        

        <div id="root">
            <nav id="navbar">
                <img src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg" alt="">
                <input type="text" v-model="film" v-on:input="search" id="input">
                <select name="generi" @change="filterGenres" id="" v-model="genered">
                    <option value="All">All</option>
                    <option v-for = "genere in generi" >{{genere.name}}</option>
                </select>
            </nav>
            <!-- /navbar -->

            <div id="films">

                <div class="film" v-for = "film in films">
                    
                    <div v-if="film.poster_path != null">

                        <img class="poster" :src="'https:&#47;&#47;image.tmdb.org&#47;t&#47;p&#47;w500'+ film.poster_path" alt="">
                        <!-- /poster -->
    
                        <div class="scheda d-none">
    
                            <div><strong>Titolo:</strong> {{film.title}}</div>
                            <div v-if = "film.title != film.original_title">
                                <strong>Titolo originale:</strong> {{film.original_title}}
                            </div>
                            <!-- titoli -->

                            <img :src="'https://www.countryflags.io/'+ film.original_language + '/flat/64.png'">
                            <!-- /bandiera -->

                            <div class="stelle">
                                <strong style="color: white;">Voto:</strong>
                                <i class="fas fa-star" v-for= "n in film.vote_average"></i>
                                <i class="far fa-star" v-for = "n in (5 - film.vote_average)" ></i>
                            </div>
                            <!-- /stelle -->

                            <div class="overview">
                                <strong>Overview:</strong> {{film.overview}}
                            </div>
                            <!-- /overview -->
                            
                            <span>
                                <strong>Cast:</strong>
                            </span>
                            <div v-for = "attore in film.casts"  class="cast">
                                {{attore}}
                            </div>
                            <!-- /cast -->

                            <div>
                                <strong>Generi:</strong>
                            </div>
                            <div v-for = "genere in film.generi" class="genere">
                                {{genere}}
                            </div>
                            <!-- /generi -->


                        </div>
                        <!-- /scheda -->

                    </div>
                    <!-- /film con poster -->

                    <div v-else class="min-height">

                        <div class="scheda">
                            
                            <div>
                                <strong>Titolo:</strong> {{film.title}}
                            </div>
                            <div v-if = "film.title != film.original_title">
                                <strong>Titolo originale:</strong> {{film.original_title}}
                            </div>
                            <!-- titoli -->

                            <img :src="'https://www.countryflags.io/'+ film.original_language + '/flat/64.png'">
                            <!-- /bandiera -->

                            <div class="stelle">
                                <strong style="color: white;">Voto:</strong>
                                <i class="fas fa-star" v-for= "n in film.vote_average"></i>
                                <i class="far fa-star" v-for = "n in (5 - film.vote_average)" ></i>
                            </div>
                            <!-- /stelle -->

                            <div class="overview">
                                <strong>Overview:</strong> {{film.overview}}
                            </div>
                            <!-- /overview -->

                            <span>
                                <strong>Cast:</strong>
                            </span>
                            <div v-for = "attore in film.casts"  class="cast">
                                {{attore}}
                            </div>
                            <!-- /cast -->

                            <div>
                                <strong>Generi:</strong>
                            </div>
                            <div v-for = "genere in film.generi" class="genere">
                                {{genere}}
                            </div>
                            <!-- /generi -->

                        </div>
                        <!-- /scheda -->
                    </div>
                    <!-- /film senza poster -->

                </div>
                <!-- /films -->

                <div class="film" v-for = "serie in series">
                    
                    <div  v-if="serie.poster_path != null">

                        <img class="poster" :src="'https:&#47;&#47;image.tmdb.org&#47;t&#47;p&#47;w500'+ serie.poster_path" alt="">
                        <!-- /poster -->
    
                        <div class="scheda d-none">
    
                            <div>
                                <strong>Titolo:</strong> {{serie.name}}
                            </div>
                            <div v-if = "film.title != film.original_title">
                                <strong>Titolo originale:</strong> {{serie.original_name}}
                            </div>
                            <!-- titoli -->

                            <img :src="'https://www.countryflags.io/'+ serie.original_language + '/flat/64.png'">
                            <!-- /bandiera -->

                            <div class="stelle">
                                <strong style="color: white;">Voto:</strong>
                                <i class="fas fa-star" v-for= "n in serie.vote_average"></i>
                                <i class="far fa-star" v-for = "n in (5 - serie.vote_average)" ></i>
                            </div>
                            <!-- /stelle -->

                            <div class="overview">
                                <strong>Overview:</strong> {{serie.overview}}
                            </div>
                            <!-- /overview -->

                            <span>
                                <strong>Cast:</strong>
                            </span>
                            <div v-for = "attore in serie.casts"  class="cast">
                                {{attore}}
                            </div>
                            <!-- /cast -->

                            <div>
                                <strong>Generi:</strong>
                            </div>
                            <div v-for = "genere in serie.generi" class="genere">
                                {{genere}}
                            </div>
                            <!-- /generi -->

                        </div>
                        <!-- /scheda -->

                    </div>
                    <!-- /serie con poster -->

                    <div v-else class="min-height">

                        <div class="scheda">

                            <div>
                                <strong>Titolo:</strong> {{serie.name}}
                            </div>
                            <div v-if = "film.title != film.original_title">
                                <strong>Titolo originale:</strong> {{serie.original_name}
                            }</div>
                            <!-- titoli -->

                            <img :src="'https://www.countryflags.io/'+ serie.original_language + '/flat/64.png'">
                            <!-- /bandiera -->

                            <div class="stelle">
                                <strong style="color: white;">Voto:</strong>
                                <i class="fas fa-star" v-for= "n in serie.vote_average"></i>
                                <i class="far fa-star" v-for = "n in (5 - serie.vote_average)" ></i>
                            </div>
                            <!-- /stelle -->

                            <div class="overview">
                                <strong>Overview:</strong> {{serie.overview}}
                            </div>
                            <!-- /overview -->
                            
                            <span>
                                <strong>Cast:</strong>
                            </span>
                            <div v-for = "attore in serie.casts"  class="cast">
                                {{attore}}
                            </div>
                            <!-- /cast -->

                            <div>
                                <strong>Generi:</strong>
                            </div>
                            <div v-for = "genere in serie.generi"class="genere">
                                {{genere}}
                            </div>
                            <!-- /generi -->

                        </div>
                        <!-- /scheda -->
                        
                    </div>
                    <!-- /series senza poster -->

                </div>
                <!-- /series -->

            </div>
            <!-- /films and series -->

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>